podcast_workflow.json
{
  "name": "AI PODCAST",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.audioFile }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        0
      ],
      "id": "2e3665b0-e560-4cb5-aa12-6b10617fcd68",
      "name": "Podcast Downloader"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "881e3a4c-7b3a-4c8f-8188-52544892e360",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3b7da2f6-ca2f-4f79-9b0d-b914ab1fd676",
      "name": "Webhook",
      "webhookId": "881e3a4c-7b3a-4c8f-8188-52544892e360"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1024,
        0
      ],
      "id": "8117f3ca-9f90-4f90-bf33-223e4ec1d3be",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a podcast script under 2500 characters suitable for text-to-speech narration.{{ $json.body.text.substring(0,2900) }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        0
      ],
      "id": "6fdee40f-1ea2-4bb4-adb2-3005429bfdde",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        304,
        224
      ],
      "id": "adf427d1-3359-4bdc-9a00-f514fbbd39f6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jSTG0ucYvqKZ1JUa",
          "name": "Google Gemini(PaLM) Api account 9"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.murf.ai/v1/speech/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "ap2_ae43410c-1990-48f3-8e35-1106aa26e69d"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voiceId",
              "value": "Natalie"
            },
            {
              "name": "locale",
              "value": "en-US"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        0
      ],
      "id": "ffcdfaf9-9262-4568-9228-174a7e32119a",
      "name": "MURF API"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Podcast Downloader": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "MURF API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MURF API": {
      "main": [
        [
          {
            "node": "Podcast Downloader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "872c70e6-9bd0-407d-a897-e853bcef7ce9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "200e875c81b2085d28f8cc68ee76d1471bff41a4b0f1614ddfeba6174b1a0d42"
  },
  "nodeGroups": [],
  "id": "ve53fy7I8pUjVSvO",
  "tags": []
}